<%- include('../elements/head', {name: title}) %>
    <link rel="stylesheet" href="/css/stars/stars.css">
    <main>
        <h1 class="showTitle">
            <%= title %>
        </h1>
        <h3 class="showTitle">
            <%= subtitle %>
        </h3>
        <form class="form" enctype="multipart/form-data" action="/places/<%= hotel._id %>?_method=<%= method %>"
            method="POST">
            <div class="text-wrapper">
                <div class="input-wrap">
                    <label for="#name">Hotel Name</label>
                    <input maxlength="200" value="<%= hotel.name %>" type="text" placeholder="International Hotel"
                        name="hotel[name]" id="name" class="textInput" />
                </div>
                <div class="input-wrap">
                    <label for="#contact">Contact</label>
                    <input maxlength="200" value="<%= hotel.contact %>" type="text" placeholder="+355123456789 (Optional)"
                        name="hotel[contact]" id="contact" class="contactInput" />
                </div>
                <div class="input-wrap">
                    <label for="#price">Price per room</label>
                    <input maxlength="200" value="<%= hotel.price %>" placeholder="37$ for a small room"
                        class="textInput" type="text" name="hotel[price]" id="price" />
                </div>
                <div class="input-wrap">
                    <label for="#location">Location</label>
                    <input maxlength="200" value="<%= hotel.location %>" id="location" type="text" name="hotel[location]"
                        placeholder="Tirana,Albania" class="textInput" />
                </div>
                <div class="input-wrap">
                    <label for="desc">Description</label>
                    <textarea name="hotel[description]" class="textInput" placeholder="Brief description" id="desc"
                        cols="30" rows="10"><%= hotel.description %></textarea>
                </div>
            </div>
            <div class="formPhoto">
                <div class="photo-wrapper">
                    <a class="clearPhoto">Clear</a>
                    <input type="file" multiple name="photo" id="file" class="inputfile" />
                    <p class="fileName"></p>
                    <label for="file" class="fileLabel">Add photos</label>
                </div>
            </div>
            <p class="fileQuota" >Maximum 10 photos allowed</p>
            <section id="slideshow" class="put">
                <% if (method==='PUT' && hotel.photo.length) { %>
                    <span class="slide-left"><img src="/images/left-arrow.svg" alt=""></span>
                    <span class="slide-num">
                        <p class="count">1/</p>
                        <p>
                            <%= hotel.photo.length %>
                        </p>
                    </span>
                    <div class="carouselEdit">
                        <% hotel.photo.forEach(function(img, i){ %>
                            <div class="carousel-div">
                                <img class="carousel-item" src="<%= img.url %>" alt="">
                                <div class="deleteImg">
                                    <label class="image-<%= i %>" for="image-<%= i %>">Delete</label>
                                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]"
                                        value="<%= img.filename %>">
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <span class="slide-right"><img src="/images/right-arrow.svg" alt=""></span>
                    <% } %>
            </section>
            <button type="submit">Done</button>
        </form>
    </main>
    <%- include('../elements/footer') %>
    <%- include('../elements/formError') %> 
    <script src="/js/other/functions.js"></script>
    <script src="/js/other/index.js"></script>
    </body>

    </html>