<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alHotel - Find the best hotels near you</title>
    <link rel="stylesheet" href="css/homepage/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <main class="main-wrapper">
        <h1>Looking for a nice place to spend your vacation?</h1>
        <h3>This is the place to find, add, review some of the best hotels in Albania</h3>
        <a href="/find">Find</a>
    </main>
    <nav class="navbar">
        <a href="/">Hotels</a>
        <a href="/blogs">Blogs</a>
        <img class="plus" src="images/plus.svg" alt="">
        <a href="/map">Map</a>
        <a href="/login">Login</a>
    </nav>

    <article id="most-visited">
        <h2>Most visited</h2>
        <div class="carousel-outer">
            <span class="slide-left"><img src="images/left-arrow.svg" alt=""></span>
            <div class="carousel">
                <% for( let hotel of mostVisited) { %>
                    <div class="carousel-item">
                        <img src="https://cf.bstatic.com/images/hotel/max1024x768/169/169124345.jpg"
                            alt="no photo included">
                        <h3><%= hotel.name %></h3>
                        <div>
                            <p>Price range:</p>
                            <p><%= hotel.price %> - <%= parseInt(hotel.price) + 40 %>$</p>
                        </div>
                        <div>
                            <p>Location:</p>
                            <p><%= hotel.location %></p>
                        </div>
                        <div>
                            <p>Visitors:</p>
                            <p><%= hotel.nVisited %></p>
                        </div>
                        <div>
                            <p>Reviews:</p>
                            <p>4.5<img src="images/star.svg" class="star" alt="stars"></p>
                        </div>
                        <a href="/hotel/<%= hotel._id %> ">Show more</a>
                    </div>
                    <% } %>
                <div class="carousel-item"></div>
            </div>
        <span class="slide-right"><img src="images/right-arrow.svg" alt=""></span>
    </div>
    
    </article>
    <script src="js/homepage/index.js"></script>
</body>

</html>