 <%- include('elements/head') -%> 
    <main>
        <h1>Add a new hotel</h1>
        <h3>Make it easy for the next destination</h3>
        <form class="form" action="/hotel/<%= hotel._id %>?_method=<%= method %>" method="POST">
            <div class="text-wrapper">
                <div class="input-wrap">
                    <label for="#name">Hotel Name</label>
                    <input value="<%= hotel.name %>" type="text" placeholder="International Hotel" name="name" id="name" class="textInput"/>
                </div>
                <div class="input-wrap">
                    <label for="#price">Price per room</label>
                        <input value="<%= hotel.price %>" placeholder="37$ for a small room" class="textInput" type="text" name="price" id="price"/>
                </div>
                <div class="input-wrap">
                    <label for="#location">Location</label>
                    <input value="<%= hotel.location %>" id="location" type="text" name="location" placeholder="Tirana,Albania" class="textInput"/>
                </div>
                <div class="input-wrap">
                    <label for="desc">Description</label>
                    <textarea name="description" class="textInput" placeholder="Brief description" id="desc" cols="30"
                        rows="10"><%= hotel.description %></textarea>
                </div>
            </div>
            <div class="formPhoto">
                <div class="photo-wrapper">
                    <a class="clearPhoto">Clear</a>
                    <input type="file" multiple name="photo" id="file" class="inputfile" />
                    <p class="fileName"></p>
                    <label for="file" class="fileLabel">Add photos</label>
                </div>
            </div>
            <button type="submit">Done</button>
        </form>
    </main>
    <script src="/js/other/index.js"></script>
</body>

</html>