<%- include('elements/head') -%>
    <div class="form">
        <h1 class="name">
            <%= hotel.name %>
        </h1>
        <div class="splitSection">
            <div class="left-side">
                <p class="hotel-desc">
                    <%= hotel.description %>
                </p>
                <h4 class="price">Price: <%= hotel.price %>
                </h4>
                <h4 class="location">Location: <%= hotel.location %>
                </h4>
                <div class="actionBtn">
                    <a class="editBtn" href="/hotel/<%= hotel._id %>/edit">Edit</a>
                    <form action="/hotel/<%= hotel._id %>?_method=DELETE" method="POST">
                        <button id="deleteBtn">Delete</button>
                    </form>
                </div>
            </div>
            <div class="right-side">
                <h1>asasdas</h1>
            </div>
        </div>
    </div>
    </body>

    </html>